@import "rose-pine.css";

* {
    padding: 0;
    border: none;
    border-radius: 0;
}

#waybar {
    font-family: "Iosevka Nerd Font", JetBrainsMono Nerd Font, RobotoMono Nerd Font;
    font-size: 14px;
    font-weight:bold;
    background-color: @base;
}

#workspaces button {
    padding: 1px 5px;
    color: @muted;
    border: 1px solid @overlay;
    min-width: 10px;
}

#workspaces button.focused {
    background: @highlightMed;
    color: @text;
}

#workspaces button.urgent {
    background-color: @love;
}

tooltip {
    background: @base;
    border: 1px solid @overlay;
}

tooltip label {
  color: @text;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#memory,
#temperature,
#scratchpad,
#mpris,
#window,
#tray,
#power-profiles-daemon {
    padding: 0px 10px;
}

#scratchpad{
    color: @pine;
}

#backlight {
    color: @text;
}

#temperature {
    color: @rose;
}

#clock {
    color: @gold;
}

#pulseaudio {
    color: @iris;
}

#pulseaudio.muted {
    color: @muted;
}

#mode, #network, #battery.critical, #temperature.critical {
    color: @love;
}

#window, #memory, #battery, #mpris{
    color: @foam;
}

