@import "rose-pine.css";

* {
    padding: 0;
    border: none;
    border-radius: 0;
}

#waybar {
    font-family: "JetBrainsMono Nerd Font", RobotoMono Nerd Font;
    font-size: 13px;
    font-weight:bold;
    background-color: @base;
}

#workspaces button {
    padding: 1px 5px;
    color: @muted;
    min-width: 10px;
}

#workspaces button.focused {
    color: @text;
    background-color: @overlay;
}

#workspaces button.urgent {
    background-color: @love;
}

tooltip {
    background: @base;
    border: 1px solid @overlay;
}

tooltip label {
  color: @text;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#memory,
#cpu,
#temperature,
#scratchpad,
#window,
#mpris,
#tray,
#power-profiles-daemon {
    padding: 0px 10px;
    color: @text;
}

#pulseaudio.muted {
    color: @muted;
}

#battery.critical, #temperature.critical {
    color: @love;
}
